---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Archiwa Pilchowic">
  <div class="container mx-auto max-w-full px-4 mt-1">
    <div class="absolute inset-0 opacity-5 bg-no-repeat bg-center"
         style="background-image: url('/logo.png'); background-size: 100%;"></div>
    
    <div class="flex flex-col items-center justify-center relative z-10 mb-2 sm:flex-row">
      <img 
        src="/logo.png" 
        alt="Archiwa Pilchowic" 
        class="w-64 h-auto max-w-full sm:mr-4 sm:mb-0"
      />
      <div class="text-center">
        <h1 class="text-4xl font-bold text-[#3C2A21] decoration-[#5C4033] decoration-2 underline-offset-4">
          Archiwa Pilchowic
        </h1>
        <div class="mt-4">
          <a
            href="/zasoby"
            class="bg-[#3C2A21] text-white px-6 py-3 rounded-lg hover:bg-[#5C4033] hover:scale-105 transform transition-colors flex items-center gap-2 w-fit mx-auto"
          >
            EKSPLORUJ
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-5 h-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
            </svg>
          </a>
        </div>
      </div>
    </div>
    
    <div class="prose max-w-2xl mx-auto bg-[#E5E0DA] p-6 rounded-lg mt-8 shadow-md relative z-10">
      <p class="mb-4 text-[#3C2A21] leading-relaxed">
        Witam w projekcie gromadzenia archiwalnych materiałów dotyczących Gminy Pilchowice. Gromadzę tu
        wszystkie dokumenty związane z "Gminą Pilchowice" znalezione w różnych cyfrowych archiwach, i nie tylko.
      </p>
      
      <p class="mb-4 text-[#3C2A21] leading-relaxed">
        Technologicznie projekt stworzony został w oparciu o sztuczną inteligencję (AI). AI było wykorzystane w procesie tworzenia kodu oraz tłumaczenia treści archiwum na język polski. Proszę to wziąć pod uwagę szczególnie w przypadku treści tłumaczeń z języka niemieckiego.
      </p>

      <p class="mb-4 text-[#3C2A21] leading-relaxed">
        Praca nad projektem nie jest związana z żadnymi instytucjami, a jedynie stworzona z pasją do historii. Podoba ci się co tu widzisz, możesz wyrazić swoje wsparcie stawiając mi kawkę.
      </p>
      <p class="mb-4 text-[#3C2A21] leading-relaxed">
        Jeżeli zauważysz błąd lub masz dostęp do innych archiwów, których tu brakuje, <a class="text-blue-500 transition hover:text-gray-600" target="_blank" rel="noopener noreferrer" href="mailto:lpgornicki@gmail.com">napisz do mnie</a>! Jestem otwarty na współpracę i nowe źródła.
      </p>

      <div class="mt-6 text-center">
        <a href="https://www.buymeacoffee.com/derberg" target="_blank">
          <img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy Me A Coffee" class="mx-auto mt-2" style="height: 30px !important;width: 108px !important;" />
        </a>
      </div>
    </div>
  </div>
</Layout>
