---
import Layout from '../layouts/Layout.astro';
import ResourceList from '../components/ResourceList';
import { getDocuments } from '../lib/documents';

const documents = await getDocuments();
---

<Layout title="Zasoby Archiwalne Pilchowic">
  <div class="absolute inset-0 opacity-5 bg-center" style="background-image: url('/logo.png'); background-size: 100%;"></div>
  <!-- <h1 class="text-3xl font-bold mb-8">Zasoby archiwalne</h1> -->
    <ResourceList documents={documents} client:load />
  </div>
</Layout>