---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Źródła i materiały">
  <div class="container mx-auto max-w-full px-4 mt-1">
    <div class="absolute inset-0 opacity-5 bg-no-repeat bg-center"
         style="background-image: url('/logo.webp'); background-size: 100%;"></div>

    <div class="prose max-w-2xl mx-auto bg-[#E5E0DA] p-6 rounded-lg mt-8 shadow-md relative z-10">
      <h1 class="text-3xl font-bold text-[#3C2A21] mb-6">Źródła archiwalne</h1>
      
      <section class="mb-8">
        <h2 class="text-xl font-semibold text-[#3C2A21] mb-2">Archiwa wykorzystane w projekcie</h2>
        <ul class="list-disc pl-6">
          <li class="mb-3">
            <strong>
              <a 
                href="https://www.digishelf.de/" 
                target="_blank" 
                rel="noopener noreferrer" 
                class="text-blue-700 underline hover:text-gray-600 transition"
              >DigiShelf</a>
            </strong>
            – <span>
                DigiShelf to cyfrowa biblioteka Common Library Network (GBV) Coordination Office (VZG) oraz
                Library Service Center Baden-Württemberg (BSZ). Zeskanowano ponad milion stron w poszukiwaniu słów kluczowych i nazw miejscowości związanych z historią gminy Pilchowice. Następnie przeszukano te strony pod kątem weryfikacji treści, wartości treści i duplikacji. Do strony dodano 153 rekordy.
            </span>
          </li>
          <li class="mb-3">
            <strong>
              <a
                href="https://sbc.org.pl/dlibra"
                target="_blank"
                rel="noopener noreferrer"
                class="text-blue-700 underline hover:text-gray-600 transition"
              >Śląska Biblioteka Cyfrowa</a> (Planowane do dodania)
            </strong>
            – <span>
                Regionalna biblioteka cyfrowa, której zasób współtworzony jest przez instytucje z terenu historycznego Śląska oraz obecnych województw: śląskiego, opolskiego i małopolskiego.
            </span>
          </li>
          <li class="mb-3">
            <strong>
              <a
                href="https://obc.org.pl/dlibra"
                target="_blank"
                rel="noopener noreferrer"
                class="text-blue-700 underline hover:text-gray-600 transition"
              >Opolska Biblioteka Cyfrowa</a> (Planowane do dodania)
            </strong>
            – <span>
                Opolska Biblioteka Cyfrowa udostępnia 23 075 obiektów cyfrowych.
            </span>
          </li>
          <li class="mb-3">
            <strong>
              <a
                href="https://www.deutsche-digitale-bibliothek.de/"
                target="_blank"
                rel="noopener noreferrer"
                class="text-blue-700 underline hover:text-gray-600 transition"
              >Deutsche Digitale Bibliothek</a> (Planowane do dodania)
            </strong>
            – <span>
                Ogólnoniemiecki portal internetowy gromadzący cyfrowe zasoby bibliotek, archiwów, muzeów i instytucji naukowych z całych Niemiec. Zasoby z lat 1671 - 1994.
            </span>
          </li>
          <li class="mb-3">
            <strong>
              <a
                href="https://www.wbc.poznan.pl/dlibra"
                target="_blank"
                rel="noopener noreferrer"
                class="text-blue-700 underline hover:text-gray-600 transition"
              >Wielkopolska Biblioteka Cyfrowa</a> (Planowane do dodania)
            </strong>
            – <span>
                Pierwsza w Polsce biblioteka cyfrowa, która udostępnia zbiory bibliotek i instytucji z Wielkopolski.
            </span>
          </li>
          <li class="mb-3">
            <strong>
              <a
                href="https://archive.org/"
                target="_blank"
                rel="noopener noreferrer"
                class="text-blue-700 underline hover:text-gray-600 transition"
              >Internet Archive</a> (Planowane do dodania)
            </strong>
            – <span>
                Obecnie archiwum zawiera gromadzone w około dwumiesięcznych odstępach archiwalne wersje ogólnodostępnych stron WWW, dawne wersje oprogramowania, filmy, książki, nagrania dźwiękowe, nagrania programów telewizyjnych itp. Archiwum udostępniane jest bezpłatnie historykom, naukowcom oraz w celach edukacyjnych. Część zasobów dostępna jest dla każdego.
            </span>
          </li>
        </ul>
      </section>

      <section class="mb-8">
        <h2 class="text-xl font-semibold text-[#3C2A21] mb-2">Materiały i gazety</h2>
        <ul class="list-disc pl-6">
          <li class="mb-3">
            <strong>
                <i>Heimatblatt</i> czyli <i>Gleiwitzer und Beuthener Heimatblatt für die Stadt - und Landkreise</i> oraz <i></i>Gleiwitzer - Beuthener - Tarnowitzer Heimatblatt</i> oraz <i>Neisser Heimatblatt für den Stadt- und Landkreis Neisse</i>
            </strong>
            – <span>
               Były to miesięczniki wydawane po wojnie. Służyły przede wszystkim jako pismo zrzeszające dawnych mieszkańców Gliwic, Bełchatowa i Tarnowskich Gór, z tekstami genealogicznymi, o historii i kulturze regionu. Często treści były pisane przez byłych mieszkańców zmuszonych do emigracji po wojnie.
            </span>
          </li>
          <li class="mb-3">
            <strong>
                Ostdeutsche Morgenpost
            </strong>
            – <span>
                Codzienna niemieckojęzyczna gazeta regionalna wydawana w Bytomiu w latach 1919–1944.
            </span>
          </li>
          <li class="mb-3">
            <strong>
                Der Oberschlesier
            </strong>
            – <span>
                Niemieckojęzyczne czasopismo regionalne, które ukazywało się od początku XX wieku na Górnym Śląsku, m.in. w Bytomiu. W latach 20. i 30. XX wieku pełniło rolę tygodnika społeczno-politycznego i kulturalnego, poświęconego sprawom Górnego Śląska oraz interesom niemieckiej ludności zamieszkującej ten region. Zawierało artykuły o polityce, gospodarce, kulturze, wiadomości lokalne i korespondencje, a także komentarze dotyczące sytuacji Niemców na Śląsku po podziale regionu między Polskę a Niemcy.
            </span>
          </li>
          <li class="mb-3">
            <strong>
                Oberschlesien im Bild
            </strong>
            – <span>
                To popularne, bogato ilustrowane czasopismo tygodniowe, ukazujące się w latach 1924–1939, skierowane głównie do mieszkańców Górnego Śląska. Gazeta zawierała liczne fotografie, reportaże, artykuły krajoznawcze, opisy miast, wsi, zakładów przemysłowych oraz sylwetki ludzi regionu. Oprócz tematów społecznych, kulturalnych i historycznych, sporo miejsca poświęcano również bieżącym wydarzeniom i ciekawostkom ze Śląska.
            </span>
          </li>
          <li class="mb-3">
            <strong>
                Neustädter Heimatbrief
            </strong>
            – <span>
                To periodyk ukazujący się od lat 50. XX wieku (często do dziś!), którego głównym celem była integracja, informowanie oraz pielęgnowanie więzi dawnych mieszkańców miasta i powiatu Prudnik po wysiedleniach.
            </span>
          </li>
          <li class="mb-3">
            <strong>
                Unser Oberschlesien
            </strong>
            – <span>
                „Nasz Górny Śląsk” to czasopismo powstałe w okresie międzywojennym (od 1920 r.), publikowane głównie z myślą o niemieckiej ludności Górnego Śląska. Jego celem było prezentowanie i utrwalanie niemieckiego dziedzictwa kulturowego, języka i tradycji regionu. 
            </span>
          </li>
          <li class="mb-3">
            <strong>
                Stockacher Tagblatt
            </strong>
            – <span>
                To lokalna niemieckojęzyczna gazeta codzienna wydawana w mieście Stockach (Badenia-Wirtembergia, Niemcy), niedaleko Jeziora Bodeńskiego. Jest to typowe lokalne czasopismo informacyjne, ukazujące się od XIX wieku (pierwsze numery pojawiły się już ok. 1849 r.).
            </span>
          </li>
          <li class="mb-3">
            <strong>
                Hegauer Erzähler. Amtliches Verkündigungsblatt für den Amtsbezirk Engen
            </strong>
            – <span>
                To urzędowy, niemieckojęzyczny biuletyn ogłoszeniowy (gazeta urzędowa) wydawany dla okręgu administracyjnego Engen (Hegau, Badenia-Wirtembergia, Niemcy) w XIX i na początku XX wieku.
            </span>
          </li>
          <li class="mb-3">
            <strong>
                Freie Stimme
            </strong>
            – <span>
                To tytuł, który nosiło (i nosi) kilka różnych gazet i czasopism w krajach niemieckojęzycznych oraz w Europie Środkowej. Samo wyrażenie oznacza po niemiecku „Wolny Głos”. Tytuł ten był wykorzystywany przez różne środowiska polityczne, społeczne i emigracyjne.
            </span>
          </li>
          <li class="mb-3">
            <strong>
                Konstanzer Zeitung
            </strong>
            – <span>
                To historyczna niemieckojęzyczna gazeta codzienna wydawana w Konstancji (niem. Konstanz) – dużym mieście w Badenii-Wirtembergii, położonym nad Jeziorem Bodeńskim, przy granicy ze Szwajcarią.
            </span>
          </li>
        </ul>
      </section>
    </div>
  </div>
</Layout>
