---
import { FaGithub } from 'react-icons/fa';
---

<footer class="relative bg-gradient-to-r from-[#c19f80] via-[#3c2a21] via-[#b5a896] to-[#a47851] text-white p-4 mt-8 z-10">
  <div class="container mx-auto text-center">
    <p>created by <a href="https://brainfart.dev/" target="_blank" class="underline">Brain Fart Services</a></p>
    
    <div class="flex items-center">
      <!-- <a href="/zasoby" class="hover:text-[#D5CEA3] text-white">Zasoby</a> -->
      <a href="https://github.com/derberg/pilchowice-in-digishelf" class="hover:text-[#D5CEA3] mx-auto ">
        <FaGithub className="text-2xl text-white" />
      </a>
    </div>
    <p>❤️ open cource ❤️</p>
  </div>
</footer>