<header class="relative bg-gradient-to-r via-[#c19f80] to-[#3c2a21] from-[#b5a896] via-[#a47851] p-2 z-10">
  <nav class="container mx-auto flex justify-between items-center">
    <div class="flex items-center gap-4">
      <img 
        src="/logo.png" 
        alt="Archiwa Pilchowic" 
        class="h-12 w-auto"
      />
      <a href="/" class="text-l text-[#3c2a21] font-bold">Archiwa Pilchowic</a>
    </div>
    <div>
      <a href="/zasoby" class="text-l text-white font-bold">ZASOBY</a>
    </div>
  </nav>
</header>
