---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

interface Props {
  title: string;
}

const { title } = Astro.props;
---
<!doctype html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Archiwalne dokumenty Gminy Pilchowice znalezione w niemieckich zasobach DigiShelf." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />

        <!-- Remove CSE Hash from URL -->
        <script is:inline>
          window.addEventListener('hashchange', () => {
            console.log('Hash changed:', location.hash);
            if (location.hash.startsWith('#gsc.')) {
              history.replaceState(null, '', window.location.pathname);
            }
          });
        </script>
    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content="Archiwalne dokumenty Gminy Pilchowice znalezione w niemieckich zasobach DigiShelf." />
    <meta property="og:image" content="https://archiwapilchowic.org/logo.png" />
    <meta property="og:url" content="https://archiwapilchowic.org/" />
    <meta property="og:type" content="website" />

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content="Archiwalne dokumenty Gminy Pilchowice znalezione w niemieckich zasobach DigiShelf." />
    <meta name="twitter:image" content="https://archiwapilchowic.org/logo.png" />
    
    <title>{title}</title>
  </head>
  <body class="min-h-screen flex flex-col">
    <Header />
    <main class="flex-grow">
      <slot />
    </main>
    <Footer />
  </body>
</html>